<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_001">
  <test thread-count="5" name="Ejeción_001 - Ciclo_001">
    <classes>
      <class name="ciclo_001 - seleccionar_elementos"/>
      <class name="ciclo_001 - iniciar_Sesion"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite_001 -->
